@property --angle {
	syntax: '<angle>';
	initial-value: 0deg;
	inherits: false;
}

.customBtn.ant-btn {
	position: relative;
	background: #ffffff;
	color: #000000;
	border: none;
	border-radius: 100px;
	padding: 6px 12px;
	font-weight: 600;
	height: auto;
	transition: all 0.3s ease;
	outline: none;
	z-index: 1;
	/* Mouse position variables */
	--mouseX: 50%;
	--mouseY: 50%;
}

/* Внутренний эффект следования мыши (Radial Gradient) */
.inner-glow {
	position: absolute;
	inset: 0;
	background: radial-gradient(
		200px circle at var(--mouseX) var(--mouseY),
		rgb(174, 50, 50),
		transparent 100%
	);
	border-radius: inherit;
	z-index: 0;
	opacity: 0;
	transition: opacity 0.3s;
	pointer-events: none;
}

.customBtn.ant-btn:hover::before {
	opacity: 0.6;
}

.customBtn.ant-btn:hover .inner-glow {
	opacity: 1;
}

.customBtn.ant-btn:hover {
	box-shadow: none;
}

.customBtn.ant-btn:hover::after {
	opacity: 1;
}

/* Специфичные настройки для Ant Design */
.customBtn.ant-btn.ant-btn-primary {
	border: none;
	background: #ffffff;
}

.customBtn.ant-btn.ant-btn-primary:hover {
	color: #ffffff;
	background: #B74B29;
}

/* Текст всегда сверху */
.customBtn.ant-btn span {
	position: relative;
	z-index: 3;
}


.infoBtn.ant-btn-link {
	color: #000000;
	transition: color 0.3s ease;
}

.infoBtn.infoBtn.ant-btn-link:hover {
	color: #ff0000;
	transition: color 0.3s ease;
}

.infoBtn.ant-btn-link:hover {
	color: var(--buttons-color) !important;
}

.sendBtn{
    background-color: white !important;
    color: var(--buttons-color) !important;
    border: 1px solid var(--buttons-color) !important;
}

.sendBtn:hover {
    background-color: var(--buttons-color) !important;
    color: white !important;
}