.custom-scroll::-webkit-scrollbar {
    width: 6px;
    height: 6px;

}

/* 2. Фон (трек), по которому ездит ползунок */
.custom-scroll::-webkit-scrollbar-track {
    background: transparent;  /* Прозрачный фон, чтобы не выделялся */
    /* Или background: #f0f0f0; если хотите серую подложку */
}

/* 3. Сам ползунок (Thumb) */
.custom-scroll::-webkit-scrollbar-thumb {
    background-color: #bfbfbf;       /* Нейтральный серый цвет (как у AntD иконок) */
    border-radius: 10px;             /* Закругленные края */
}

/* 4. Ползунок при наведении (Hover) */
.custom-scroll::-webkit-scrollbar-thumb:hover {
    background-color: #999999;       /* Чуть темнее при наведении */
    cursor: pointer;
}

/* --- Стилизация для Firefox (у него свой стандарт) --- */
.custom-scroll {
    scrollbar-width: thin;           /* Тонкий скроллбар */
    scrollbar-color: #bfbfbf transparent; /* Цвет ползунка и фона */
}