@font-face {
  font-family: "ST-Nizhegorodsky";
  src: url("./assets/fonts/ST-Nizhegorodsky.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif, "ST-Nizhegorodsky";
  line-height: 1.5;
  font-weight: 400;

  /* Настройка цветов (можешь поменять на светлую тему, если бесит темная) */
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #f0f2f5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* Отключаем обводку у всего, что касается recharts */
.recharts-wrapper,
.recharts-surface,
.recharts-layer {
    outline: none !important;
}
/* Убиваем фокус на всех элементах внутри графиков */
.recharts-layer:focus,
.recharts-wrapper:focus,
.recharts-surface:focus,
g:focus,
path:focus,
foreignObject:focus {
    outline: none !important;
    box-shadow: none !important;
}

/* Специфично для SVG ссылок и групп */
svg a:focus,
svg g:focus,
svg foreignObject:focus {
    outline: none !important;
}

/* На всякий случай отключаем именно в состоянии фокуса */
.recharts-wrapper:focus,
.recharts-surface:focus,
.recharts-wrapper:focus-visible,
.recharts-surface:focus-visible {
    outline: none !important;
}
/* Самое важное здесь */
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: block; /* Убираем display: flex, который был по умолчанию! */
}

/* Корневой div, куда React монтирует приложение */
#root {
  width: 100%;
  height: 100%;
}